
<%- include('header') -%> 

<div class="box" id="heading">
    <h1><%= listTitle %></h1>
</div>

<div class="box">
    <% for (var i=0; i<items.length; i++) { %>
    <div class="item">
        <input type="checkbox">
        <p><%= items[i] %></p>
    </div>
    <% } %>

    <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New List Item" autocomplete="off">
        <button type="submit" name="listTitle" value="<%=listTitle%>">+</button>
    </form>

</div>

<%- include('footer') -%> 
